<server description="demo server">

  <featureManager>
    <feature>microprofile-1.2</feature>
    <feature>jndi-1.0</feature>
	<feature>usr:opentracingZipkin-0.30</feature>
  </featureManager>

  <httpEndpoint httpPort="9080" httpsPort="9443"
      id="defaultHttpEndpoint" host="*" />

    <opentracingZipkin />

</server>
